// Used to wrap content inside a nice box.
.content-box {
	max-width: var(--content-width);
	margin: 0 auto;
	transition: background-color .6s;
	padding: calc(var(--space) / 4) var(--space);
  border-radius: var(--radius);
  transition: transform .3s, background-color .3s, box-shadow .6s;
}
